# Data Science Tools and Ecosystem

## Author
U.Sai Srinivas

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List popular libraries for Data Science
- Convert time from minutes to hours

## Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2.  Dplyr
3.  ggplot

 |Data Science Tools| 
 |------------------|
 |Git|
 |Apache Spark|
 |TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [2]:
 p = (3*4)+5
print (p)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
p = 200/60 
print (p)

3.3333333333333335